<h1>Delete Category</h1>
<p>Are you sure you want to delete category "<span id="name"></span>"?</p>
<form action="Delete" method="post">
    <input type="hidden" id="id" name="id" />
    <button type="submit">Delete</button>
</form>