<h1>Category Details</h1>
<div>
    <h4>Name: <span id="name"></span></h4>
    <h4>Normalized Name: <span id="normalizedName"></span></h4>
    <h4>Products:</h4>
    <ul id="products">
        <!-- Список продуктов будет здесь -->
    </ul>
</div>