<h1>Update Category</h1>
<form action="Update" method="post">
    <input type="hidden" id="id" name="id" />
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" />
    </div>
    <div>
        <label for="normalizedName">Normalized Name:</label>
        <input type="text" id="normalizedName" name="normalizedName" />
    </div>
    <button type="submit">Update</button>
</form>