@model IReadOnlyList<ALWD.Domain.Entities.Product>

<h1>Product Details</h1>
<div>
    <h4>Name: <span id="name"></span></h4>
    <h4>Description: <span id="description"></span></h4>
    <h4>Price: <span id="price"></span></h4>
    <h4>Quantity: <span id="quantity"></span></h4>
    <h4>Image:</h4>
    <img id="image" src="" alt="Product Image">
    <h4>Category: <span id="category"></span></h4>
</div>