@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<a class="navbar-text ms-auto" zasp-controller="Cart" asp-action="index">
    @((new Random().NextDouble() * 100).ToString("0.00"))  руб <i class="fa-solid fa-cart-shopping"></i>
</a>




@{
}
