@page "/catalog"
@using Microsoft.AspNetCore.Authorization
@using ALWD.Blazor.WebAssembly.Services.ProductService
@attribute [Authorize]
@attribute [StreamRendering]
@inject HttpClient Http
@inject IProductService _productservice

<PageTitle>Products</PageTitle>

<h1>Products</h1>

<CategorySelector 
    @bind-CurrentCategory="CurrentCategory"
    OnCategoryChangedCallback="OnCategoryChanged" />

<CatalogProductList
    Products="Products"/>

@if(TotalPages > 1)
{
    <CatalogPager 
    TotalPages="TotalPages" 
    CurrentPage="CurrentPage"
    PageChangedCallback="OnPageChanged" />
}
@* @bind-CurrentPage="CurrentPage" *@



@code {

    public int TotalPages { get; set; } = 1;
    public int CurrentPage { get; set; } = 1;
    public IReadOnlyList<Product>? Products { get; set; }
    public Category? CurrentCategory { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        await LoadProducts();
    }

    private async Task LoadProducts()
    {
        var productsResponse = await _productservice.GetProductListAsync(CurrentCategory?.NormalizedName, CurrentPage);
        if(productsResponse.Successfull)
        {
            TotalPages = productsResponse.Data.TotalPages;
            Products = productsResponse.Data.Items;
            StateHasChanged();
        }
    }

    private async Task OnCategoryChanged()
    {
        CurrentPage = 1;
        await LoadProducts();
    }

    private async Task OnPageChanged(int newPageNumber)
    {
        CurrentPage = newPageNumber;
        await LoadProducts();
    }
}
